.box {
    border: 1px solid teal;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
    margin: auto;    
}

.clickable {
    cursor: pointer;
}

p {
    font-size: 80px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
  }

h4 {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
  }

.game-board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.answer-board {
  margin: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 15% 15% 15% 15%;
  max-width: 300px;
  left: 20px; 
}

.quiz-question {
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  /* max-width: 300px; */
  position: absolute;
  bottom: 20px;
  left: 100px;
  right: 100px;
}

.child {
  border: 2px dashed rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  color: red;
  cursor: pointer;
  margin: 16px;
  min-width: calc((100% / 4) - 32px);
  max-width: calc((100% / 4) - 32px);
  padding: 32px;
  text-align: center;
  margin: auto;  
}

.child:hover {
  border: 2px solid teal;
  color: #409eff;
}
